/* font-family: 'Montserrat', sans-serif; */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-family: 'Cinzel', serif;
    font-weight: 100; 
    font-size: 35px;
    color: #3462c7 !important;
    letter-spacing: 4px !important;
}

.nav-link {
    font-size: 16px;
    margin: 15px;
    color: black !important;
}

.nav-link:hover {
    color: #3462c7 !important;
    transition: 0.4s;
}

.active .nav-link {
    color: #3462c7 !important;
}

.menu-right-btn {
    padding: 16px;
    background-color: transparent;
    transition: all 300ms ease-in;
}

.menu-right-btn:hover {
    color: white;
    background-color: #3462c7;
}

.jumbotron {
    height: 80vh;
    background-image: url(/images/family.png);
    background-color: #3462c7;
    background-size: cover;
    color: white;
    border-radius: 0;
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}
.cdi-primary {
        color: #494949 !important;
        text-transform: uppercase;
        background: white;
        padding: 5px;
        border-radius: 1px;
}

.cdi-primary:hover {
    color: #ffffff !important;
    background: #3462c7;
    transition: all 0.4s ease 0s;
    border-color: transparent;
}

.form-inline { /* problemy */
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
}
.form-inline1 {
    width: 30vh;
    margin: 0 auto;
    padding: 0;
  
  }
.cdi {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}



.btn-secondary {
    color: black;
    background-color: white;
}
.btn-secondary:hover {
    color: #ffffff !important;
    background: #3462c7;
    transition: all 0.4s ease 0s;
    border-color: transparent;

}
section {
    padding-top: 4rem;
    padding-bottom: 5rem;
}
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    transition: all 300ms ease-in;
}

.wrap:hover {
    background-color: #f2f2f2;
    cursor: pointer;

}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #3462c7;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}
.mbr-bold {
    font-weight: 700;
}

 p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.display-6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1re}










.contact-form{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    margin-top: 2%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 2px;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
